.table-custom{
        background: #FFFFFF;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        color: black;

        .thead{
            background: #2f80ed33;
            border-radius: 15px;
        }
}