$grey:  #4F4F4F;

*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    font-family: "Roboto", Arial, serif; 
    font-weight: 400; 
    font-size: 14px;
    color: #4F4F4F;

    .container{
        overflow: hidden;
    }
}


